



html,body{ 
    margin:0;
    padding:0;
}

#pagewidth{}

#header{
    position:relative;
    height:150px;
    background-color:#FFFFFF;
    width:100%;
    display:block;
    overflow:auto;
}

#maincol{
    background-color:#FFFFFF;
    position:relative;
}

#footer{
    height:150px;
    background-color:#FFFFFF;
    clear:both;
    display:block;
    overflow:auto;
}

.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix{
    display:inline-block;
}

* html .clearfix{
    height:1%;
}

.clearfix{
    display:block;
}